doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title :: Feed
        link(rel="stylesheet" href="/public/css/index.css")
    body 
    h3=`${nick}님의 Feed`
    form(action=`/user/${user_no}/profile` method="post" enctype="multipart/form-data")
        input(type="file" name="userProfile")
        button Upload Photo 
